<!-- /#page-wrapper -->
</div>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" style="font-weight: bold;">Edit User</label>
                <button type="button" class="close" id="close-it" data-dismiss="modal" >&times;</button>
            </div>
            <div class="modal-body">

                <p>User is getting editable</p>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-danger" id="close-it" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- /#wrapper -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>