<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
  <% include header.ejs %>

    <div id="page-wrapper">
        <div class="copy">
            <h3>List Of All Users</h3>
        </div>
        <div class="container-fluid">
            <table class="table table-bordered table-hovered" style="margin-top: 2%;" id="userTable">

            </table>
        </div>
    </div>

   <script type="text/javascript" src="js/index.js"></script>
<% include footer.ejs %>
