<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script>
        function onLoginClicked() {
           var email = $("#email").val();
           var password = $("#password").val();
           console.log(email+":"+password);
           if(email === '' || password === '') {
               $("#error").html("Please enter all fields");
               return false;
           }
           var url ="login/";
           $(".loaderr").css("display","block");
           $.post(url,{email:email,password:password,type:'admin'},function(data){
             console.log(JSON.stringify(data));
               var status = data.Status;
               var message = data.Message;
               if(status) {
                   window.location = "/";
               }
               else{
                   $("#error").html(message);
               }
               $(".loaderr").css("display","none");

           });
        }
        function hideError() {
            $("#error").html("");
        }
    </script>
</head>
<body id="login">

<div class="loaderr">
    <img src="images/loader.gif" class="loaderr-img">
</div>
<div class="app-cam">
    <form class="container-fluid form-container">
        <h2 class="form-heading" style="margin-top: 2%;margin-bottom: 18%;text-align: center">Admin Login</h2>
        <input type="text" class="text" value="" id="email"  onkeyup="hideError()" placeholder="E-mail address">
        <input type="password" value="" id="password" onkeyup="hideError()" placeholder="Password">
        <div class="submit">
            <input type="button" class="btn btn-primary" onclick="onLoginClicked()" value="Login">
            <label id="error" style="font-weight: bold;margin-top: 6px;margin-left: 10%;"></label>
        </div>

        <!--<div class="login-social-link">
            <a href="index.html" class="facebook">
                Facebook
            </a>
            <a href="index.html" class="twitter">
                Twitter
            </a>
        </div>-->
        <ul class="new">
            <li class="new_left"><p><a href="#">Forgot Password ?</a></p></li>
            <li class="new_right"><p class="sign">New here ?<a href="register.html"> Sign Up</a></p></li>
            <div class="clearfix"></div>
        </ul>
    </form>
</div>
<div class="copy_layout login">
    <p>Copyright &copy; 2015 Modern. All Rights Reserved | Design by <a href="http://sachtechsolution.com/" target="_blank">sachtechsolution.com</a> </p>
</div>
</body>
</html>
