<% include header.ejs %>

<div id="page-wrapper">
    <div class="col-md-12" style="padding: 10px 15px;">
        <label style="font-weight: bold;letter-spacing: 2px">Create Post</label>
    </div>
    <div class="container-fluid">

        <table class="table table-bordered table-hovered" style="margin-top: 2%;" id="postTable">

        </table>
    </div>
</div>

<% include footer.ejs %>