<!DOCTYPE HTML>
<html style="background: #fff">
<head >
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="css/lines.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Nav CSS -->
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/subscribe.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/metisMenu.min.js"></script>
    <script src="js/subscribe.js"></script>
    
</head>
<body style="background: #fff">
<div class="container" style="background: #fff">
    <div class="col-md-12 header-text">
        <h2 style="letter-spacing: 2px;word-spacing: 2px;">Thanks For Signing Up!</h1>
    </div>
    <div class="col-md-12 header-middle">
        <div class="col-md-12" style="text-align: center;">
          <label style="font-weight: bolder;margin-top: 2%;font-size: 24px;">Welcome to the Post Master ! </label>
        </div>
        <div class="col-md-12" style="margin-top: 1%">
            <p style="text-align: center;">Thanks for subscribing to articles from the POST MASTER.You will get an</p>
            <p style="text-align: center;">email each time we publish new post , and I promise we would not stuff your  </p>
            <p style="text-align: center;">inbox with repackeged product updates. At POST MASTER , we aim to write content  </p>
            <p style="text-align: center;">that you can actually use to be more productive and power up your </p>
            <p style="text-align: center;margin-bottom: 1%">entertaiment. Here's what you can expect: </p>
            
        </div>
    </div>
</div>
</body>